<meta charset="UTF-8">
<title>online course</title>

<style>
  .container{
    padding: 50px 100px;
    font-family: sans-serif;
  }
  nav{
    background-color: #f8f9fa;
    display: flex;
    padding: 15px 15px 0px 30px;
  }
  .home{
    padding-top: 14px;
    font-size: 25px;
    text-decoration: none;
    color: black;
  }
  .home:hover{
    color: grey;
    text-decoration: none;
  }
  nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 500px;
    list-style: none;
    padding-top: 5px;
  }
  nav ul a{
    font-size: 18px;
    text-decoration: none;
    color: gray;
    margin-top: 10px;
  }
  nav ul a:hover{
    color: black;
    text-decoration: none;
  }
  .footer{
    color: #6c757d;
    text-align: center;
    margin-top: 40px;
  }
  .box{
    background-color:#e9ecef;
    padding: 60px 30px;
    border-radius: 5px;
  }
</style>