<meta charset="UTF-8">
<title>online course</title>

<style>
  .container{
    padding: 50px 100px;
    font-family: sans-serif;
    background-color: #1d293a;
  }
  nav{
    background-color: navajowhite;
    display: flex;
    padding: 15px 15px 10px 30px;
  }
/* khaki,
lemonchiffon,
wheat */

  .home{
    padding-top: 14px;
    font-size: 25px;
    text-decoration: none;
    color: black;
  }
  .home:hover{
    color: lightcoral;
    text-decoration: none;
  }
  nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 500px;
    list-style: none;
    padding-top: 5px;
  }
  .box li{
    margin-bottom: 10px;
    font-size: 20px;
  }
  nav ul a{
    font-size: 18px;
    text-decoration: none;
    color: gray;
    margin-top: 10px;
  }
  nav ul a:hover{
    color: lightcoral;
    text-decoration: none;
  }
  .footer{
    color: white;
    text-align: center;
    margin-top: 40px;
  }
  .box{
    background-color: lightcoral;
    color: floralwhite;
    padding: 60px 30px;
  }
  .head1{
    margin-left: 300px;
    margin-bottom: 50px;
  }
  
</style>