<nav>
    <a class="home" href="/">Home</a>
    <ul>
      <li>
        <a href="/html">HTML</a>
      </li>
      <li>
        <a href="/css">CSS</a>
      </li>
      <li>
        <a href="/javascript">JavaScript</a>
      </li>
      <li>
        <a href="/react">React</a>
      </li>
    </ul>
  </nav>