<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>  
  <%- include('../partials/navbar'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Should everyone get Vaccinated?</h1>
    <p>Yes, because vaccines prevent severe COVID-19 infection and death. Vaccination of large numbers of people is important if we want to get out of the current pandemic. Everyone should get vaccinated and encourage others to get vaccinated according to each country’s vaccination plan and recommended age limit for the vaccine. However, because there is not enough vaccine available early on, there is a prioritization scheme so that persons who need it the most can get the vaccine first.</p>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>